/*
TABLETA DE COLORES

GRIS
10% #E5E5E5
20% #CCCCCC
90$ #1A1A1A
DORADO
#FFCC00
#996600

CONCHEVINO
#4D1A00
*/
*
{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:'Text-Gyre-Adventor-Regular';
    src: url('../Sources/Fonts/texgyreadventor-regular.otf');
}
body{
    position: relative;
    text-align: justify;
    font-family: 'Text-Gyre-Adventor-Regular','Roboto', sans-serif;
    color: #1A1A1A;
    background-color: #e5e5e5;
}
/* the Upper!!! */
#upper{
    width: 100%;
    color: #e5e5e5;
    background-color: #1a1a1a;
    opacity: 1;
    animation-name: opacityNormal;
    animation-duration: 2s;
}
#upper:hover{
    opacity: 0.5;
    animation-name: opacityHover;
    animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacityNormal {
    from {opacity: 0.6;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacityNormal {
    from {opacity: 0.6;}
    to {opacity: 1;}
}
@-webkit-keyframes opacityHover {
    from {opacity: 1;}
    to {opacity: 0.6;}
}

/* Standard syntax */
@keyframes opacityHover {
    from {opacity: 1;}
    to {opacity: 0.6}
}
/* perfiles!*/
#col-sm-3 {
    top: 10px;
    left: 20px;
    position: relative;
    border: 1px solid #CCCCCC;
    display: inline-block;
    vertical-align:bottom;
    padding: 20px;
    width: 360px;
    border-radius: 5px;
}

ul.none{
    list-style-type: none;
    margin-left: 20px;
}

.tab-content {
    top: 25px;
    position: relative;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
}

#navbar {
    top: 20px;
    position: relative;
    width: 100%;
    background-color: #CCCCCC;
    border-radius: 15px;
}


#navbar ul li{
    background-color: #CCCCCC;
}
#navbar ul li a:hover {
    background-color: #E5E5E5;
}
#navbar ul li.active a{
    background-color: #E5E5E5;
}
#navbar ul li.active {
    background-color: #E5E5E5;
}

#Proyect{
    padding-left: 8px;
    padding-right: 8px;
}
#Proyect h1{
    position: relative;
    display: inline-block;
}
#Proyect h4{
    padding-left: 15px;
    position: relative;
    display: inline-block;
}



#MenuResume {
    padding-left: 15px;
    padding-right: 15px;
}

#Menuhome {
    padding-left: 10px;
    padding-right: 10px;
}

#menu {
    display: table;
    width: 100%;
    padding: 0;
}
#menu li{
    list-style: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

#menu li a{
    width: 100%;
}
