/*
TABLETA DE COLORES

GRIS
10% #E5E5E5
20% #CCCCCC
90$ #1A1A1A
DORADO
#FFCC00
#996600

CONCHEVINO
#4D1A00
*/
*
{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:'Text-Gyre-Adventor-Regular';
    src: url('../Sources/Fonts/texgyreadventor-regular.otf');
}
body{
    font-family: 'Text-Gyre-Adventor-Regular','Roboto', sans-serif;
    color: #1A1A1A;
}

#body{
    margin-top: 120px;
}
#headerMenu{
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

@media screen and (max-width: 770px) {
    #headerMenu{
        background-color:red;
    }

}
